<h1 class="text-4xl font-bold text-marrom-profundo mb-6">Admin</h1>

<div class="flex justify-between flex-wrap mt-8 w-full items-center max-w-4xl mx-auto">
  <h2 class="text-2xl font-semibold mb-4 text-marrom-profundo">Daily Stats</h2>

  <div class="flex gap-6 flex-col md:flex-row justify-between w-full">
    
    <!-- Revenue -->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-r from-bege-suave to-laranja-natural">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-marrom-profundo">Revenue</div>
        <p class="text-marrom-profundo text-base">
          R$ <%= @quick_stats[:revenue] ? number_to_currency(@quick_stats[:revenue], unit: '', separator: ',', delimiter: '.') : "0" %>
        </p>
      </div>
    </div>

    <!-- Total Sales -->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-r from-bege-suave to-laranja-natural">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-marrom-profundo">Total Sales</div>
        <p class="text-marrom-profundo text-base">
          <%= @quick_stats[:sales] || 0 %>
        </p>
      </div>
    </div>

    <!-- Avg Sale -->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-r from-bege-suave to-laranja-natural">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-marrom-profundo">Avg Sale</div>
        <p class="text-marrom-profundo text-base">
          R$ <%= @quick_stats[:avg_sale] ? number_to_currency(@quick_stats[:avg_sale], unit: '', separator: ',', delimiter: '.') : "0" %>
        </p>
      </div>
    </div>

    <!-- Items / Sales -->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-r from-bege-suave to-laranja-natural">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-marrom-profundo">Items / Sales</div>
        <p class="text-marrom-profundo text-base">
          <%= @quick_stats[:per_sale].to_i || 0 %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Gráfico -->
<div class="my-8 w-full">
  <h2 class="text-2xl text-marrom-profundo font-medium mb-4">Revenue</h2>
  <div class="w-full" data-controller="dashboard" data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
    <canvas id="revenueChart"></canvas>
  </div>
</div>

<!-- Tabela de pedidos recentes -->
<div class="flex flex-col w-full">
  <h2 class="text-2xl text-marrom-profundo mb-4 font-medium">Recent Unfulfilled Orders</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-bege-suave" style="border-collapse: separate; border-spacing: 0;">
      <thead>
        <tr class="text-marrom-profundo">
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-laranja-natural">OrderID</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-laranja-natural">Customer E-mail</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-laranja-natural">Date</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-laranja-natural">Amount</th>
        </tr>
      </thead>
      <tbody class="text-marrom-profundo">
        <% @orders.each do |order| %>
          <tr class="hover:bg-bege-suave transition-colors duration-150">
            <td class="px-6 py-4 border-b border-gray-200">
              <%= link_to order.id, admin_order_path(order), class: "underline text-verde-terra hover:text-laranja-escuro" %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200"><%= order.customer_email %></td>
            <td class="px-6 py-4 border-b border-gray-200"><%= order.created_at.strftime("%B %d, %Y %H:%M") %></td>
            <td class="px-6 py-4 border-b border-gray-200">
              R$ <%= number_to_currency(order.total, unit: '', separator: ',', delimiter: '.') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>