<footer class="bg-bege-suave border-t-2 border:text-marrom-profundo text-marrom-profundo">
  <div class="max-w-7xl mx-auto px-6 py-12 md:py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">

      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-verde-terra uppercase tracking-wider">About us</h3>
        <p class="leading-relaxed text-gray-800">
          Bringing you quality food from local sellers you can trust.
        </p>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-verde-terra uppercase tracking-wider mb-4">Fast links</h3>
        <ul class="space-y-3">
          <%= link_to "Home", root_path, class:"block text-gray-800 hover:text-laranja-escuro transition" %>
          <%= link_to "Shop", "", class:"block text-gray-800 hover:text-laranja-escuro transition" %>
          <%= link_to "My account", "", class:"block text-gray-800 hover:text-laranja-escuro transition" %>
          <%= link_to "Cart", cart_path, class:"block text-gray-800 hover:text-laranja-escuro transition" %>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-verde-terra uppercase tracking-wider mb-4">Contact</h3>
        <ul class="space-y-3">
          <li class="flex items-start space-x-2">
            <i class="fas fa-map-marker-alt mt-1 text-laranja-escuro"></i>
            <span>Ecom Test<br>Ecommerce, Test</span>
          </li>
          <li class="flex items-start space-x-2">
            <i class="fas fa-envelope mt-1 text-laranja-escuro"></i>
            <span>suport@test.com</span>
          </li>
          <li class="flex items-start space-x-2">
            <i class="fas fa-phone-alt mt-1 text-laranja-escuro"></i>
            <span>(99) 94342-2343</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-12 pt-6 border-t border-laranja-natural text-center">
      <p class="text-sm text-gray-600">
        &copy; <%= Time.now.year %> FoodApp. All rights reserved.
      </p>
    </div>
  </div>
</footer>