<nav class="fixed w-full top-0 bg-laranja-escuro shadow-md z-10 py-3">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center space-x-4">
        <%= link_to root_path do %>
          <%= image_tag 'food.png', class: 'h-12 w-auto hidden lg:block' %>
        <% end %>
        <%= link_to root_path do %>
          <%= image_tag 'food.png', class: 'h-12 w-auto lg:hidden' %>
        <% end %>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <%= link_to 'Shop', root_path, class: 'text-white hover:text-gray-200 px-4 py-2 rounded-md text-md font-semibold transition-colors duration-200' %>
      </div>
      <div class="flex items-center space-x-4">
        <%= link_to cart_path, class: 'relative text-white hover:text-gray-200 transition-colors duration-200 text-xl' do %>
          <%= icon 'fa-solid', 'shopping-cart' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
