<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Foodapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

   <body>
    <main class="flex min-h-screen">
    <!-- Sidebar -->
    <aside class="w-64 p-4 bg-gray-800 text-white hidden md:block sticky top-0">
      <div class="flex items-center gap-2 mb-6">
        <%= image_tag "food.png", class: 'w-16' %>
        <h1 class="text-lg font-bold">FoodApp</h1>
      </div>

      <ul class="space-y-2">
        <li>
          <%= link_to admin_categories_path, class: "flex items-center gap-3 px-4 py-2 rounded hover:bg-gray-700 transition" do %>
            <%= icon('fa-solid', 'gauge-high') %>
            <span>Dashboard</span>
          <% end %>
        </li>

        <li>
          <%= link_to admin_products_path, class: "flex items-center gap-3 px-4 py-2 rounded hover:bg-gray-700 transition" do %>
            <%= icon('fa-solid', 'cart-shopping') %>
            <span>Products</span>
          <% end %>
        </li>

        <li>
          <%= link_to admin_categories_path, class: "flex items-center gap-3 px-4 py-2 rounded hover:bg-gray-700 transition" do %>
            <%= icon('fa-solid', 'list') %>
            <span>Categories</span>
          <% end %>
        </li>

        <li>
          <%= link_to admin_orders_path, class: "flex items-center gap-3 px-4 py-2 rounded hover:bg-gray-700 transition" do %>
            <%= icon('fa-solid', 'truck-fast') %>
            <span>Orders</span>
          <% end %>
        </li>
      </ul>
    </aside>

    <!-- Conteúdo principal -->
    <div class="flex-1 p-6 bg-gray-100 overflow-auto">
      <%= yield %>
    </div>
  </main>
  </body>
</html>
